ul{
    list-style: none;
}
li{
    line-height: 3rem;
}

.list-heading{
    font-size:1.7rem;
    font-weight:600;
    margin-bottom: 1rem;
}
.menu{
    width:100%;
    min-height:fit-content;
    background-color: whitesmoke;
    z-index:1000;
    

    &__header{
        display:flex;
        justify-content: center;
        flex-wrap:wrap;
        &--1 a{
            margin:1.5rem 4rem;
            padding-top:2rem;
            color:#101623;
            font-weight: 600;
        }
        &--1 a:hover{
            color:darkslategrey;

        }
        &--2 a{
            margin:1.5rem 4rem;
            padding-top:2rem;
            color:#1f3d40;
            font-weight: 600;
        }
        &--2 a:hover{
            color:darkslategrey;

        }
        &--3 a{
            margin:1.5rem 4rem;
            padding-top:2rem;
            color:#1f3d40;
            font-weight: 600;
        }
        &--3 a:hover{
            color:darkslategrey;

        }
        &--4 a{
            margin:1.5rem 4rem;
            padding-top:2rem;
            color:darkgray;
                       font-weight: 600;
        }
        &--5 a:hover{
            color:gray;

        }        
    }
}

.banner1{
    width:100%;
    height:100vh;
    background-color: whitesmoke;
    position:relative;
    &__text{
        font-size:14rem;
        font-weight:900;
        color:whitesmoke;
        text-align:center;
        text-shadow:1px 3px 22.2px #d5d5d8;
        transform:translateY(1.8rem);
        animation:textanimate 2.8s  ease;

    }
    &__background{
        position: relative;
        &--1{
            position: absolute;
            top:-2rem;
            left:45rem;
            width:0;
            height:0;
            border-top:40px solid transparent;
            border-right:64px solid darkslategray;
            border-bottom:13px solid transparent;
            animation:triangle1 35s  ease;
            animation-iteration-count: infinite;

        }
        &--2{
            position: absolute;
            top:27rem;
            left:84rem;
            width:0;
            height:0;
            border-top:58px solid indianred;
            border-right:61px solid transparent;
            animation:triangle2 35s  ease;
            animation-iteration-count: infinite;

        }
        /*&--3{
            position: absolute;
            left:53rem;
            width:0;
            height:0;
            border-top:194px solid transparent;
            border-right:257px solid darksalmon;
            border-bottom:91px solid transparent;
        }*/
        &--4{
            position: absolute;
            top:26rem;
            left:49rem;
            width:0;
            height:0;
            border-top:26px solid aquamarine;
            border-right:26px solid transparent;
            animation:four 1s ease;
            
        }
        &--5{
            position: absolute;
            top:16rem;
            left:85rem;
            width:0;
            height:0;
            border-top:30px solid darkkhaki;
            border-right:32px solid transparent;
            animation:five 1s ease;
           }
        &--6{
            position: absolute;
            top:0rem;
            left:81rem;
            width:0;
            height:0;
            border-top:27px solid darkseagreen;
            border-right:30px solid transparent;
            animation:six 1s ease;

        }
        &--7{
            position: absolute;
            top:9rem;
            left:48rem;
            width:0;
            height:0;
            border-top:27px solid indianred;
            border-right:27px solid transparent;
            animation:seven 1s ease;

        }
    }
    &__image{
        display:flex;
        justify-content: center;
        transform:translateY(-12rem);
        animation:imageanimate 2.8s ease;
        &--imgstyle{
            width:54rem;
            z-index:1000;
        }
    }
    &__typewriter{
        position:absolute;
        width:100%;
        top:58rem;
        display:flex;
        flex-direction:column;
        align-items: center;
        font-size:9px;
        line-height:3rem;
        color:#14141f;
        &--text{
            position:relative;
            text-align: center;

            &::after{
                content:"";
                position:absolute;
                right:-5px;
                width:1px;
                height:80%;
                border-right:2px solid darkgray;
                animation:blink 0.5s ;
                animation-iteration-count: infinite;
            }
        }
        
    }
}
@keyframes blink{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
@keyframes seven{
    0%{
        top:22rem;

    }
    
    100%{
        top:9rem;

    }
    
}
@keyframes six{
    0%{
        top:9rem;

    }
    
    100%{
        top:0rem;

    }
    
}
@keyframes five{
    0%{
        top:33rem;

    }
    
    100%{
        top:16rem;

    }
    
}
@keyframes four{
    0%{
        top:42rem;

    }
    
    100%{
        top:26rem;

    }
    
}
@keyframes textanimate{
    0%{
        transform:translateY(13.8rem);

    }
    50%{
        transform:translateY(1.8rem);

    }
    100%{
        transform:translateY(1.8rem);

    }
    
}
@keyframes imageanimate{
    0%{
        transform:translateY(10rem);

    }
    50%{
        transform:translateY(-12rem);

    }
    100%{
        transform:translateY(-12rem);

    }
    
}
@keyframes triangle1{
    0%{
        transform:rotate(0deg);
    }
    25%{
        transform:rotate(-45deg);

    }
    50%{
        transform:rotate(-45deg);

    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes triangle2{
    0%{
        transform:rotate(0deg);
    }
    25%{
        transform:rotate(-45deg);

    }
    50%{
        transform:rotate(-45deg);

    }
    100%{
        transform: rotate(0deg);
    }
}


.container__img3{
    height:90vh;
    width:100%;
    background-color: darkgray;
    position:relative;
    display:flex;
    overflow:hidden;
        &--1{
            //position:absolute;
            width:calc(100/10 * 1% );
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            background-position-x:0rem;
            background-position-y: -5rem;
            background-size:160vh;
            animation:image1 35s infinite;
           
        }
        &--2{
            //position:absolute;
            width:calc(100/10 * 1% );
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            background-position-x:-13rem;
            background-position-y: -5rem;
            background-size:160vh;
            animation:image2 35s infinite;

        }
        &--3{
            //position:absolute;
            width:calc(100/10 * 1% );
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            background-position-x:-17rem;
            background-position-y: -5rem;
            background-size:160vh;
            animation:image3 35s infinite;

        }
        &--4{
            //position:absolute;
            width:calc(100/10 * 1% );
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            background-position-x:-27rem;
            background-position-y: -5rem;
            background-size:160vh;
            animation:image4 35s infinite;

        }
        &--5{
            //position:absolute;
            width:calc(100/10 * 1% );
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            background-position-x:-37rem;
            background-position-y: -5rem;
            background-size:160vh;
            animation:image5 35s infinite;

        }
        &--6{
            //position:absolute;
            width:calc(100/10 * 1% );
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            background-position-x:-47rem;
            background-position-y: -5rem;
            background-size:160vh;
            animation:image6 35s infinite;

        }
        &--7{
            //position:absolute;
            width:calc(100/10 * 1% );
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            background-position-x:-57rem;
            background-position-y: -5rem;
            background-size:160vh;
            animation:image7 35s infinite;

        }
        &--8{
            //position:absolute;
            width:calc(100/10 * 1% );
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            background-position-x:-67rem;
            background-position-y: -5rem;
            background-size:160vh;
            animation:image8 35s infinite;

        }
        &--9{
            //position:absolute;
            width:calc(100/10 * 1% );
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            background-position-x:-77rem;
            background-position-y: -5rem;
            background-size:160vh;
            animation:image9 35s infinite;

        }
        &--10{
            //position:absolute;
            width:calc(100/10 * 1% );
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            background-position-x:-87rem;
            background-position-y: -5rem;
            background-size:160vh;
            animation:image10 35s infinite;

        }
    
     /*   &--11{
            //position:absolute;
            width:calc(100/10 * 1% );
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            background-position-x:-97rem;
            background-position-y: -5rem;
            background-size:160vh;
        }
        &--12{
            //position:absolute;
            width:calc(100/10 * 1% );
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            background-position-x:-107rem;
            background-position-y: 0rem;
            
            background-size:cover;
        }
        &--13{
            //position:absolute;
            width:calc(100/10 * 1% );
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            background-position-x:117rem;
            background-position-y: 0rem;
            
            background-size:cover;
        }
    }
        /*&--1{
            position:absolute;
            width:11vw;
            height:100vh;
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            background-size:156rem 66rem;
            
        }
        &--2{
            position:absolute;
            left:15rem;
            width:7vw;
            height:100vh;
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            
            background-position:-8rem ;
        }
        &--3{
            position:absolute;
            left:24.6rem;
            width:7vw;
            height:100vh;
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            
            background-position:-18rem ;
        }
        &--4{
            position:absolute;
            left:34.2rem;
            width:7vw;
            height:100vh;
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            
            background-position:-28rem ;
        }
        &--5{
            position:absolute;
            left:43.8rem;
            width:7vw;
            height:100vh;
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            
            background-position:-38rem ;
        }
        &--6{
            position:absolute;
            left:53.4rem;
            width:7vw;
            height:100vh;
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            
            background-position:-48rem ;
        }
        &--7{
            position:absolute;
            left:63rem;
            width:7vw;
            height:100vh;
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            
            background-position:-58rem ;
 
        }
        &--8{
            position:absolute;
            left:72.6rem;
            width:7vw;
            height:100vh;
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            
            background-position:-68rem ;
 
        }
        &--9{
            position:absolute;
            left:82.2rem;
            width:7vw;
            height:100vh;
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            
            background-position:-78rem ;
 
        }
        &--10{
            position:absolute;
            left:91.8rem;
            width:7vw;
            height:100vh;
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            
            background-position:-88rem ;

        }
        &--11{
            position:absolute;
            left:101.4rem;
            width:7vw;
            height:100vh;
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            
            background-position:-98rem ;

        }
        &--12{
            position:absolute;
            left:111rem;
            width:7vw;
            height:100vh;
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            
            background-position:-108rem ;

        }
        
        &--13{
            position:absolute;
            left:120.6rem;
            width:11vw;
            height:100vh;
            background-image: url(../../img/ERP.jpg);
            background-repeat: no-repeat;
            background-size: 133rem 66rem;
            background-position:-118rem ;

        }*/
    &--box{
        position: absolute;
        height:90vh;
        width:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content: space-around;
         &--1{
           position: absolute;
           top:37.2rem;
           left:6rem;
            color:orangered;
            font-weight:700;
            font-size:2rem;
            width:25%;
            height:fit-content;
            background-color:none;
            opacity:0.8;
            text-align: center;
            z-index:10000000;
            span{
                display:block;
                position:absolute;
                color:#ff5959;
                font-weight:100;
                font-size:20rem;
                margin:0;
                top:-13rem;
                left:5rem;
                z-index:10000000;
    
            }
            p{
                color:white;
                font-size:1.9rem;
                padding-top:2.4rem;
                font-family:system-ui;
                font-weight:600;
                z-index:10000000;
    
            }
        }
        &--2{
           position:absolute;
           top:37.2rem;
           left:58rem;
            color:orangered;
            font-weight:700;
            font-size:2rem;
            width:25%;
            height:fit-content;
            opacity:0.8;
            text-align: center;
            z-index:10000000;
    
            span{
                display:block;
                position:absolute;
                color:#55ff00;
                font-weight:100;
                font-size:20rem;
                margin:0;
                top:-13rem;
                left:8.5rem;
                z-index:10000000;
    
            }
            p{
                color:white;
                font-size:1.9rem;
                padding-top:2.4rem;
                font-family:system-ui;
                font-weight:600;
                z-index:10000000;
    
            }
        }
        &--3{
            position: absolute;
            top:37.2rem;
            left:105rem;
            color:orangered;
            font-weight:700;
            font-size:2rem;
            width:25%;
            height:fit-content;
            opacity:0.8;
            text-align: center;
            z-index:10000000;
    
            span{
                display:block;
                position:absolute;
                color:#00fff5;
                font-weight:100;
                font-size:20rem;
                margin:0;
                top:-13rem;
                left:8.5rem;
                z-index:10000000;
    
            }
            p{
                color:white;
                font-size:1.9rem;
                padding-top:2.4rem;
                font-family:system-ui;
                font-weight:600;
                z-index:10000000;
    
            }
        }
    }
}
    

.footer{
    width:100%;
    height:45vh;
    background-color: azure;
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-top:0rem;
    &__div1{
        display:flex;
        &--1{
            height: 14px;
            width:47rem;
            background-image: url(../../img/divider-3.png) ;
            background-repeat: repeat-x;
            background-color: transparent;
            margin-left:11rem;
            margin-top:9rem;
            color:black;
        }
        &--2{
            margin-top:9rem;
            margin-left:3rem;
            color:#444444;
            font-weight:500;
        }
        &--3{
            height: 14px;
            width:47rem;
            background-image: url(../../img/divider-3.png) ;
            background-repeat: repeat-x;
            background-color: transparent;
            margin-left:3rem;
            margin-top:9rem;
            color:black;

        }
    }
    &__div2{
        margin:4rem 23rem;
        text-align:center;
        padding:1.5rem;
        border-radius:3rem;
        font-weight:500;
        background-image: linear-gradient(45deg,#f2b03d 0%,#e53838 100%);
        border:none;
        &__div2 a{
            color:white;
        }
    }
    &__div3{
        text-align:center;
        font-size:2rem;
        font-style: oblique;
        color:#000000;
        margin:10rem 20rem;
        line-height:2.9rem;
        position:relative;
        &--link1{
            padding:1rem 2rem;
            margin-top:-3rem;
            width:fit-content;
            height:fit-content;
            background-image: linear-gradient(#1b2633,#3e5e7d);
            color:white;
            font-weight:500;
            border-radius:1rem;

        }
    }
}

.footerr{
    width:100%;
    height:60%;
    position:relative;
    background-color: #0c0c0c;
    color:gray;


    &__div1{
        display:flex;
        justify-content: space-around;
        padding-top:4rem;
        padding-bottom:4rem;
        line-height: 1.9rem;

        &--1{
            color:gray;
            width:fit-content;
            height:fit-content;
           // padding:4rem 6rem;
        }
        &--2{         
            color:gray;
            width:fit-content;
            height:fit-content;
            //padding:4rem 6rem;
        }
        &--3{
            
            color:gray;
            width:fit-content;
            height:fit-content;
            //padding:4rem 6rem;
        }
        &--4{
            color:gray;
            width:fit-content;
            height:fit-content;
            //padding:4rem 6rem;
        }
        &--5{
            color:gray;
            width:fit-content;
            height:fit-content;
            //padding:4rem 6rem;
        }
    }
    &__div2{
        padding-bottom: 4rem;
        display:flex;
        width:100%;
        background-color: #0c0c0c;
        color:darkgray;
        justify-content: center;
        align-items: center;
        font-size:1.3;
    }
}
.content1{
    width:100%;
    height:120vh;
    background-color: #ffffff;
    &__divcontainer{
        display:flex;
        align-items:center;
        justify-content: space-evenly;
        &--1{
            position: relative;
            display:flex;
            align-items:center;
            transform:translateY(8.9rem);
            & h1{
                font-size:31rem;
                color:#042754;
                font-family:serif;
                position:absolute;
                top:-3rem;
                left:-21rem;
            }
            & img{  
                position:absolute;
                top:-18rem;
                left:-4rem;
                
                width:40rem;
                height:58rem;
                box-shadow:8px 1.1px 29px black;
            }
        }
        &--2{
            width:40rem;
            height:40rem;
            border-top: 4px solid #1c2031;
            transform:translate(10rem,21rem);
            & span{
                width:20rem;
                height:2px;
                background-color: rgb(216, 7, 7);
            } 
            & p{
                font-size:2rem;
                line-height:3rem;
                font-style: oblique;
                margin-top:4rem;
            }       
        }
    }
}
.content2{
    width:100%;
    height:120vh;
    background-color: #ffffff;
    &__divcontainer{
        display:flex;
        align-items:center;
        justify-content: space-evenly;
        &--1{
            width:40rem;
            height:40rem;
            border-top: 4px solid #1c2031;
            transform:translate(-8rem,21rem);
            & span{
                width:20rem;
                height:2px;
                background-color: rgb(216, 7, 7);
            } 
            & p{
                font-size:2rem;
                line-height:3rem;
                font-style: oblique;
                margin-top:4rem;
            }       
        }
        &--2{
            position: relative;
            display:flex;
            align-items:center;
            transform:translateY(8.9rem);
            & h1{
                font-size:31rem;
                color:#042754;
                font-family:serif;
                position:absolute;
                top:-40rem;
                left:-21rem;
            }
            & img{  
                position:absolute;
                top:-15rem;
                left:-28rem;
                
                width:40rem;
                height:58rem;
                box-shadow:8px 1.1px 29px black;
            }
        }
        
    }
}
.register-link{
    padding:1rem 2rem;
    width:fit-content;
    height:fit-content;
    margin-top:2rem;
    background-image: linear-gradient(#1b2633,#3e5e7d);
    color:white;
    font-weight:500;
    border-radius:1rem;

}
@keyframes image1{
    0%{
        background-size:160vh;
    }
    50%{
        background-size: 170vh;
    }
    100%{
        background-size: 160vh;
    }
}
@keyframes image2{
    0%{
        background-size:160vh;
    }
    50%{
        background-size: 170vh;
    }
    100%{
        background-size: 160vh;
    }
}
@keyframes image3{
    0%{
        background-size:160vh;
    }
    50%{
        background-size: 170vh;
    }
    100%{
        background-size: 160vh;
    }
}
@keyframes image4{
    0%{
        background-size:160vh;
    }
    50%{
        background-size: 170vh;
    }
    100%{
        background-size: 160vh;
    }
}
@keyframes image5{
    0%{
        background-size:160vh;
    }
    50%{
        background-size: 170vh;
    }
    100%{
        background-size: 160vh;
    }
}
@keyframes image6{
    0%{
        background-size:160vh;
    }
    50%{
        background-size: 170vh;
    }
    100%{
        background-size: 160vh;
    }
}
@keyframes image7{
    0%{
        background-size:160vh;
    }
    50%{
        background-size: 170vh;
    }
    100%{
        background-size: 160vh;
    }
}
@keyframes image8{
    0%{
        background-size:160vh;
    }
    50%{
        background-size: 170vh;
    }
    100%{
        background-size: 160vh;
    }
}
@keyframes image9{
    0%{
        background-size:160vh;
    }
    50%{
        background-size: 170vh;
    }
    100%{
        background-size: 160vh;
    }
}
@keyframes image10{
    0%{
        background-size:160vh;
    }
    50%{
        background-size: 170vh;
    }
    100%{
        background-size: 160vh;
    }
}