.payment-container{
    display:flex;
    flex-direction: column;
    &__1{
        padding-bottom:3rem;
        border-bottom:1px solid darkgray;
        &--progress-bar{
            display:flex;
            justify-content: space-around;
            margin:0rem 37rem;
            &--option1{
                display:flex;
                flex-direction: column;
                align-items: center;
                position:relative;
                i{
                    color:green;
                    margin-bottom:1rem;
                    z-index:1;

                }
            }
            &--option1 p::after{
                content:'';
                background:green;
                height:5px;
                width:238px;
                display:block;
                position:absolute;
                left:33px;
                top:-19px;
                z-index:-1;
            }
            &--option2{
                display:flex;
                flex-direction: column;
                align-items: center;
                i{
                    color:green;
                    margin-bottom:1rem;
                }
            }
            &--option2 p::after{
                content:'';
                background:#ccc;
                height:5px;
                width:238px;
                display:block;
                position:absolute;
                left:31px;
                top:-19px;
                z-index:-1;
            }
            &--option3{
                display:flex;
                flex-direction: column;
                align-items: center;
                i{
                    margin-bottom:1rem;
                    
                }
            }
            &--option3 p::after{
                content:'';
                background:#ccc;
                height:5px;
                width:200px;
                display:block;
                position:absolute;
                left:31px;
                top:-19px;
                z-index:-1;
            }
            &--option4{
                display:flex;
                flex-direction: column;
                align-items: center;
                margin-top:5rem;
                i{
                    margin-bottom:1rem;
                }
            }
            
        }
    }
    &__2{
        margin:4rem auto;
        width:50%;
        height:80%;
        padding:2rem;
        border:1px solid gray;
        &--box{
            width:70%;
            height:70%;
            &--select{
                
            }
        }
    }
}